.header{
  display: flex;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header a{
  background-color: black;
  padding: 7px;
  color: white;
  border-radius: 8px;
}
.page{
  display: flex;
  align-items: stretch;
}
.bar{
  background-color: #eee;
  min-height: calc(100vh - 73.24px); /*73.24 is height of header*/
}
.bar li {
  padding: 10px ;
  background-color: #ccc;
  margin: 10px;
}
.bar li a{
  color: black;
}
ul{
  list-style-type: none;
  padding: 0;
}
.bar{
  width:250px;
}
.content{
  width: calc(100% - 200px);
  padding: 50px;
}
.productsTable{
  border: 1px solid #ddd;
  width: 90%;
  margin: 50px auto;
}
.productsTable td{
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.productsTable th{
  background-color: #ddd;
  padding: 5px;
}
.add{
  color:white;
  background-color: #333;
  padding: 6px;
}
a{
  text-decoration:none ;
}
form input,
form textarea{
  display: block;
  width: 40%;
  padding: 10px;
  margin: 0 auto 25px;
}